<h1>Teacher Dashboard</h1>


<table>
 <tbody>
     <% Student.get_all_children_for_teacher_id( session[:teacher_id] ).each do |student| %>
       <%= render partial: 'achievements', locals:{student: student} %>
      <% end %>
 </tbody>
</table>

<%= link_to 'Create new teacher', new_teacher_path %><br>
<%= link_to 'Create new student', new_student_path %><br>
<%= link_to 'Create new parent', new_parent_path %><br>

<%= link_to 'Change your password', edit_teacher_path(Teacher.find_by(id: session[:teacher_id] )) %>
